## gitignore
## https://git-scm.com/docs/gitignore
##

--*/
zz*

*.code-workspace
*.lnk

__pycache__

version_manifest.json
releases/
snapshots/
specials/
beta/
alpha/
infdev/
classic/
pre-classic/

MinecraftWiki-data-generator/
